<h2>Login</h2>
<hr/>
<form (submit)="onSubmit()">
  <div class="form-group">
    <label for="">Email address</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="email" placeholder="Enter email" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
